.entrar-button {
  align-self: center;
  margin-top: 25px;
}

.form-container {
  background-color: darkgreen;
  display: flex;
  flex-direction: column;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.login {
  border: solid 2px gray;
  margin-left: 7px;
}

.login-label {
  color: bisque;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.senha-label {
  color: bisque;
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
}

.senha {
  border: solid 2px gray;
  margin-left: 7px;
}

.submit-button {
  border: solid 2px gray;
  font-size: 15px;
  width: 70px;
}