.add-button {
  background-color: rgb(11, 75, 80);
  color: azure;
  height: 30px;
  margin-left: 15px;
  margin-top: 10px;
}

.coin {
  background-color: rgb(219, 217, 213);
  border: solid 1px rgb(63, 62, 62);
  margin-left: 5px;
  width: 60px;
}

.coin-label {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 12px;
}

.description {
  background-color: rgb(219, 217, 213);
  border: solid 1px rgb(63, 62, 62);
  margin-left: 5px;
  width: 130px;
}

.description-label {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 12px;
}

.email-header {
  font-size: 20px;
  margin-right: 250px;
}

.entrar-button {
  align-self: center;
  margin-top: 25px;
}

.form-container {
  background-color: darkgreen;
  display: flex;
  flex-direction: column;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.header-info {
  background-color: rgb(250, 238, 223);
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: flex-end;
}

.login {
  border: solid 2px gray;
  margin-left: 7px;
}

.login-label {
  color: bisque;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.payment {
  background-color: rgb(219, 217, 213);
  border: solid 1px rgb(63, 62, 62);
  margin-left: 5px;
  width: 130px;
}

.payment-label {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 12px;
}

.senha-label {
  color: bisque;
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
}

.senha {
  border: solid 2px gray;
  margin-left: 7px;
}

.submit-button {
  border: solid 2px gray;
  font-size: 15px;
  width: 70px;
}

.tag {
  background-color: rgb(219, 217, 213);
  border: solid 1px rgb(63, 62, 62);
  margin-left: 5px;
  width: 130px;
}

.tag-label {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 12px;
}

.value {
  background-color: rgb(219, 217, 213);
  border: solid 1px rgb(63, 62, 62);
  margin-left: 5px;
  width: 100px;
}

.wallet-container {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  height: 50px;
}

.wallet-label {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 12px;
}