.add-button {
  background-color: rgb(11, 75, 80);
  color: azure;
  height: 30px;
  margin-left: 15px;
  margin-top: 10px;
}

body {
  background-color: rgb(228, 226, 200)
}

.coin {
  background-color: rgb(219, 217, 213);
  border: solid 1px rgb(63, 62, 62);
  margin-left: 5px;
  width: 60px;
}

.coin-label {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 12px;
}

.coin-table {
  padding-left: 60px;
  padding-right: 200px;
}

.conversion-coin-table {
  align-self: center;
  padding-right: 60px;
}

.converted-value-table {
  padding-right: 80px;
}

.currency-header {
  padding-right: 25px;
}

.currency-table {
  padding-right: 60px;
}

.description {
  background-color: rgb(219, 217, 213);
  border: solid 1px rgb(63, 62, 62);
  margin-left: 5px;
  width: 130px;
}

.description-label {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 12px;
}

.description-table {
  padding-right: 100px;
}

.edit-delete-table {
  padding-right: 100px;
}

.email-header {
  font-size: 20px;
  margin-right: 250px;
}

.entrar-button {
  align-self: center;
  margin-top: 25px;
}

.form-container {
  background-color: rgb(65, 106, 107);
  display: flex;
  flex-direction: column;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.header-info {
  background-color: rgb(248, 87, 47);
  display: flex;
  flex-direction: row;
  font-size: 20px;
  justify-content: flex-end;
}

.login {
  border: solid 2px gray;
  margin-left: 7px;
}

.login-label {
  color: bisque;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}

.method-table {
  padding-right: 20px;
}

.payment {
  background-color: rgb(219, 217, 213);
  border: solid 1px rgb(63, 62, 62);
  margin-left: 5px;
  width: 130px;
}

.payment-label {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 12px;
}

.senha-label {
  color: bisque;
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
}

.senha {
  border: solid 2px gray;
  margin-left: 7px;
}

.submit-button {
  border: solid 2px gray;
  font-size: 15px;
  width: 70px;
}

.table-edit {
  color: darkcyan;
  font-family: sans-serif;
  font-size: 18px;
  padding-top: 10px;
}

.tag {
  background-color: rgb(219, 217, 213);
  border: solid 1px rgb(63, 62, 62);
  margin-left: 5px;
  width: 130px;
}

.tag-label {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 12px;
}

.tag-table {
  padding-right: 120px;
}

.value {
  background-color: rgb(219, 217, 213);
  border: solid 1px rgb(63, 62, 62);
  margin-left: 5px;
  width: 100px;
}

.value-table {
  padding-right: 80px;
}

.wallet-container {
  background-color: cadetblue;
  display: flex;
  flex-direction: row;
  height: 50px;
}

.wallet-label {
  font-size: 20px;
  margin-left: 20px;
  margin-top: 12px;
}